/*
 * KLCubeLHDN MyInvois Middleware API
 * API middleware gateway for Malaysia's MyInvois e-invoicing system (LHDN).  **Version:** 1.1.1  ## Features - 4 Submission Endpoints (Consolidate, JustSave, Buyer, Personal) - JWT Authentication with Access & Refresh Tokens - User/Role/Company Management - Document Operations (List, Status, PDF, Cancel) - Digital Signing v1.1 (XAdES signatures) - Background Status Polling  ## Authentication All endpoints except `/api/v1/auth/login` require JWT authentication. Include the access token in the Authorization header: ``` Authorization: Bearer <access_token> ``` 
 *
 * The version of the OpenAPI document: 1.1.1
 * Contact: hello@zahidaramai.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.myinvois.sdk.api;

import com.myinvois.sdk.ApiClient;
import com.myinvois.sdk.ApiException;
import com.myinvois.sdk.ApiResponse;
import com.myinvois.sdk.Pair;

import com.myinvois.sdk.model.CancelDocument200Response;
import com.myinvois.sdk.model.CancelDocumentRequest;
import com.myinvois.sdk.model.DocumentListResponse;
import com.myinvois.sdk.model.DocumentPdfResponse;
import com.myinvois.sdk.model.DocumentStatusResponse;
import com.myinvois.sdk.model.ErrorResponse;
import java.time.LocalDate;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class DocumentsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DocumentsApi() {
    this(new ApiClient());
  }

  public DocumentsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Cancel document
   * Cancel a submitted document (within 72 hours)
   * @param uuid  (required)
   * @param cancelDocumentRequest  (required)
   * @return CancelDocument200Response
   * @throws ApiException if fails to make API call
   */
  public CancelDocument200Response cancelDocument(UUID uuid, CancelDocumentRequest cancelDocumentRequest) throws ApiException {
    ApiResponse<CancelDocument200Response> localVarResponse = cancelDocumentWithHttpInfo(uuid, cancelDocumentRequest);
    return localVarResponse.getData();
  }

  /**
   * Cancel document
   * Cancel a submitted document (within 72 hours)
   * @param uuid  (required)
   * @param cancelDocumentRequest  (required)
   * @return ApiResponse&lt;CancelDocument200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CancelDocument200Response> cancelDocumentWithHttpInfo(UUID uuid, CancelDocumentRequest cancelDocumentRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = cancelDocumentRequestBuilder(uuid, cancelDocumentRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("cancelDocument", localVarResponse);
        }
        return new ApiResponse<CancelDocument200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CancelDocument200Response>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder cancelDocumentRequestBuilder(UUID uuid, CancelDocumentRequest cancelDocumentRequest) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling cancelDocument");
    }
    // verify the required parameter 'cancelDocumentRequest' is set
    if (cancelDocumentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'cancelDocumentRequest' when calling cancelDocument");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/documents/{uuid}/cancel"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(cancelDocumentRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Download document PDF
   * Download the PDF representation of a validated document from MyInvois
   * @param uuid  (required)
   * @return DocumentPdfResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentPdfResponse getDocumentPdf(UUID uuid) throws ApiException {
    ApiResponse<DocumentPdfResponse> localVarResponse = getDocumentPdfWithHttpInfo(uuid);
    return localVarResponse.getData();
  }

  /**
   * Download document PDF
   * Download the PDF representation of a validated document from MyInvois
   * @param uuid  (required)
   * @return ApiResponse&lt;DocumentPdfResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentPdfResponse> getDocumentPdfWithHttpInfo(UUID uuid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDocumentPdfRequestBuilder(uuid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDocumentPdf", localVarResponse);
        }
        return new ApiResponse<DocumentPdfResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentPdfResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDocumentPdfRequestBuilder(UUID uuid) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling getDocumentPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/documents/{uuid}/pdf"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get document status
   * Get the current validation status of a submitted document from MyInvois
   * @param uuid  (required)
   * @return DocumentStatusResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentStatusResponse getDocumentStatus(UUID uuid) throws ApiException {
    ApiResponse<DocumentStatusResponse> localVarResponse = getDocumentStatusWithHttpInfo(uuid);
    return localVarResponse.getData();
  }

  /**
   * Get document status
   * Get the current validation status of a submitted document from MyInvois
   * @param uuid  (required)
   * @return ApiResponse&lt;DocumentStatusResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentStatusResponse> getDocumentStatusWithHttpInfo(UUID uuid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDocumentStatusRequestBuilder(uuid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDocumentStatus", localVarResponse);
        }
        return new ApiResponse<DocumentStatusResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentStatusResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDocumentStatusRequestBuilder(UUID uuid) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling getDocumentStatus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/documents/{uuid}/status"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List documents
   * List documents with optional filters
   * @param companyId  (optional)
   * @param status  (optional)
   * @param invoiceType  (optional)
   * @param fromDate  (optional)
   * @param toDate  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @return DocumentListResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentListResponse listDocuments(String companyId, String status, String invoiceType, LocalDate fromDate, LocalDate toDate, Integer page, Integer limit) throws ApiException {
    ApiResponse<DocumentListResponse> localVarResponse = listDocumentsWithHttpInfo(companyId, status, invoiceType, fromDate, toDate, page, limit);
    return localVarResponse.getData();
  }

  /**
   * List documents
   * List documents with optional filters
   * @param companyId  (optional)
   * @param status  (optional)
   * @param invoiceType  (optional)
   * @param fromDate  (optional)
   * @param toDate  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @return ApiResponse&lt;DocumentListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentListResponse> listDocumentsWithHttpInfo(String companyId, String status, String invoiceType, LocalDate fromDate, LocalDate toDate, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDocumentsRequestBuilder(companyId, status, invoiceType, fromDate, toDate, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDocuments", localVarResponse);
        }
        return new ApiResponse<DocumentListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDocumentsRequestBuilder(String companyId, String status, String invoiceType, LocalDate fromDate, LocalDate toDate, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/documents";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "companyId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("companyId", companyId));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "invoiceType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("invoiceType", invoiceType));
    localVarQueryParameterBaseName = "fromDate";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromDate", fromDate));
    localVarQueryParameterBaseName = "toDate";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("toDate", toDate));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
