/*
 * MyInvois Middleware Gateway
 * Open-source middleware gateway for Malaysia's MyInvois e-invoicing system. Provides a simplified REST API layer between applications and the official LHDN MyInvois API.  **Note**: This is an unofficial community project. See DISCLAIMER.md. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.myinvois.sdk.api;

import com.myinvois.sdk.ApiClient;
import com.myinvois.sdk.ApiException;
import com.myinvois.sdk.ApiResponse;
import com.myinvois.sdk.Pair;

import com.myinvois.sdk.model.DocumentDetails;
import com.myinvois.sdk.model.DocumentStateChangeRequest;
import com.myinvois.sdk.model.DocumentStateChangeResponse;
import com.myinvois.sdk.model.ErrorEnvelope;
import java.time.OffsetDateTime;
import com.myinvois.sdk.model.RawDocumentResponse;
import com.myinvois.sdk.model.RecentDocumentsResponse;
import com.myinvois.sdk.model.SearchDocumentsResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class DocumentsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DocumentsApi() {
    this(new ApiClient());
  }

  public DocumentsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Cancel a document
   * Cancels a submitted document (changes state to cancelled)
   * @param uuid MyInvois document UUID (required)
   * @param documentStateChangeRequest  (required)
   * @return DocumentStateChangeResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentStateChangeResponse cancelDocument(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    ApiResponse<DocumentStateChangeResponse> localVarResponse = cancelDocumentWithHttpInfo(uuid, documentStateChangeRequest);
    return localVarResponse.getData();
  }

  /**
   * Cancel a document
   * Cancels a submitted document (changes state to cancelled)
   * @param uuid MyInvois document UUID (required)
   * @param documentStateChangeRequest  (required)
   * @return ApiResponse&lt;DocumentStateChangeResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentStateChangeResponse> cancelDocumentWithHttpInfo(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = cancelDocumentRequestBuilder(uuid, documentStateChangeRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("cancelDocument", localVarResponse);
        }
        return new ApiResponse<DocumentStateChangeResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentStateChangeResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder cancelDocumentRequestBuilder(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling cancelDocument");
    }
    // verify the required parameter 'documentStateChangeRequest' is set
    if (documentStateChangeRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'documentStateChangeRequest' when calling cancelDocument");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/{uuid}/cancel"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(documentStateChangeRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get document details
   * Returns detailed document information including validation errors. Note: Use only for retrieving error details for invalid documents, not for submission status monitoring. 
   * @param uuid MyInvois document UUID (required)
   * @param sessionId Gateway session ID (required)
   * @return DocumentDetails
   * @throws ApiException if fails to make API call
   */
  public DocumentDetails getDocumentDetails(UUID uuid, String sessionId) throws ApiException {
    ApiResponse<DocumentDetails> localVarResponse = getDocumentDetailsWithHttpInfo(uuid, sessionId);
    return localVarResponse.getData();
  }

  /**
   * Get document details
   * Returns detailed document information including validation errors. Note: Use only for retrieving error details for invalid documents, not for submission status monitoring. 
   * @param uuid MyInvois document UUID (required)
   * @param sessionId Gateway session ID (required)
   * @return ApiResponse&lt;DocumentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentDetails> getDocumentDetailsWithHttpInfo(UUID uuid, String sessionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDocumentDetailsRequestBuilder(uuid, sessionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDocumentDetails", localVarResponse);
        }
        return new ApiResponse<DocumentDetails>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentDetails>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDocumentDetailsRequestBuilder(UUID uuid, String sessionId) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling getDocumentDetails");
    }
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling getDocumentDetails");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/{uuid}/details"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "sessionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionId", sessionId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get raw document content
   * Retrieves the raw document content (UBL XML or JSON) from MyInvois. Requires both the document UUID and Long ID. Rate limit: 125 RPM per clientId. 
   * @param uuid MyInvois document UUID (required)
   * @param longId MyInvois document Long ID (used for raw document retrieval) (required)
   * @param sessionId Gateway session ID (required)
   * @return RawDocumentResponse
   * @throws ApiException if fails to make API call
   */
  public RawDocumentResponse getRawDocument(UUID uuid, String longId, String sessionId) throws ApiException {
    ApiResponse<RawDocumentResponse> localVarResponse = getRawDocumentWithHttpInfo(uuid, longId, sessionId);
    return localVarResponse.getData();
  }

  /**
   * Get raw document content
   * Retrieves the raw document content (UBL XML or JSON) from MyInvois. Requires both the document UUID and Long ID. Rate limit: 125 RPM per clientId. 
   * @param uuid MyInvois document UUID (required)
   * @param longId MyInvois document Long ID (used for raw document retrieval) (required)
   * @param sessionId Gateway session ID (required)
   * @return ApiResponse&lt;RawDocumentResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RawDocumentResponse> getRawDocumentWithHttpInfo(UUID uuid, String longId, String sessionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRawDocumentRequestBuilder(uuid, longId, sessionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRawDocument", localVarResponse);
        }
        return new ApiResponse<RawDocumentResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<RawDocumentResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRawDocumentRequestBuilder(UUID uuid, String longId, String sessionId) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling getRawDocument");
    }
    // verify the required parameter 'longId' is set
    if (longId == null) {
      throw new ApiException(400, "Missing the required parameter 'longId' when calling getRawDocument");
    }
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling getRawDocument");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/{uuid}/raw/{longId}"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()))
        .replace("{longId}", ApiClient.urlEncode(longId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "sessionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionId", sessionId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List recent documents
   * Lists recently processed documents with optional filters. Results are paginated. Rate limit: 60 RPM per clientId.  Note: This endpoint is for listing/searching documents, not for monitoring submission status (use GET /v1/submissions/{trackingId} instead). 
   * @param sessionId Gateway session ID (required)
   * @param pageNo Page number (1-based, default 1) (optional, default to 1)
   * @param pageSize Page size (default 10, max 100) (optional, default to 10)
   * @param submissionDateFrom Filter by submission date from (ISO 8601) (optional)
   * @param submissionDateTo Filter by submission date to (ISO 8601) (optional)
   * @param issueDateFrom Filter by issue date from (ISO 8601) (optional)
   * @param issueDateTo Filter by issue date to (ISO 8601) (optional)
   * @param direction Filter by direction (optional)
   * @param status Filter by document status (optional)
   * @param documentType Filter by document type code (optional)
   * @param receiverId Filter by receiver ID (optional)
   * @param receiverTin Filter by receiver TIN (optional)
   * @param issuerTin Filter by issuer TIN (optional)
   * @return RecentDocumentsResponse
   * @throws ApiException if fails to make API call
   */
  public RecentDocumentsResponse getRecentDocuments(String sessionId, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    ApiResponse<RecentDocumentsResponse> localVarResponse = getRecentDocumentsWithHttpInfo(sessionId, pageNo, pageSize, submissionDateFrom, submissionDateTo, issueDateFrom, issueDateTo, direction, status, documentType, receiverId, receiverTin, issuerTin);
    return localVarResponse.getData();
  }

  /**
   * List recent documents
   * Lists recently processed documents with optional filters. Results are paginated. Rate limit: 60 RPM per clientId.  Note: This endpoint is for listing/searching documents, not for monitoring submission status (use GET /v1/submissions/{trackingId} instead). 
   * @param sessionId Gateway session ID (required)
   * @param pageNo Page number (1-based, default 1) (optional, default to 1)
   * @param pageSize Page size (default 10, max 100) (optional, default to 10)
   * @param submissionDateFrom Filter by submission date from (ISO 8601) (optional)
   * @param submissionDateTo Filter by submission date to (ISO 8601) (optional)
   * @param issueDateFrom Filter by issue date from (ISO 8601) (optional)
   * @param issueDateTo Filter by issue date to (ISO 8601) (optional)
   * @param direction Filter by direction (optional)
   * @param status Filter by document status (optional)
   * @param documentType Filter by document type code (optional)
   * @param receiverId Filter by receiver ID (optional)
   * @param receiverTin Filter by receiver TIN (optional)
   * @param issuerTin Filter by issuer TIN (optional)
   * @return ApiResponse&lt;RecentDocumentsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RecentDocumentsResponse> getRecentDocumentsWithHttpInfo(String sessionId, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRecentDocumentsRequestBuilder(sessionId, pageNo, pageSize, submissionDateFrom, submissionDateTo, issueDateFrom, issueDateTo, direction, status, documentType, receiverId, receiverTin, issuerTin);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRecentDocuments", localVarResponse);
        }
        return new ApiResponse<RecentDocumentsResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<RecentDocumentsResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRecentDocumentsRequestBuilder(String sessionId, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling getRecentDocuments");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/recent";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "sessionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionId", sessionId));
    localVarQueryParameterBaseName = "pageNo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageNo", pageNo));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "submissionDateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("submissionDateFrom", submissionDateFrom));
    localVarQueryParameterBaseName = "submissionDateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("submissionDateTo", submissionDateTo));
    localVarQueryParameterBaseName = "issueDateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issueDateFrom", issueDateFrom));
    localVarQueryParameterBaseName = "issueDateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issueDateTo", issueDateTo));
    localVarQueryParameterBaseName = "direction";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("direction", direction));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "documentType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("documentType", documentType));
    localVarQueryParameterBaseName = "receiverId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receiverId", receiverId));
    localVarQueryParameterBaseName = "receiverTin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receiverTin", receiverTin));
    localVarQueryParameterBaseName = "issuerTin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issuerTin", issuerTin));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Reject a document
   * Rejects a received document (changes state to rejected)
   * @param uuid MyInvois document UUID (required)
   * @param documentStateChangeRequest  (required)
   * @return DocumentStateChangeResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentStateChangeResponse rejectDocument(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    ApiResponse<DocumentStateChangeResponse> localVarResponse = rejectDocumentWithHttpInfo(uuid, documentStateChangeRequest);
    return localVarResponse.getData();
  }

  /**
   * Reject a document
   * Rejects a received document (changes state to rejected)
   * @param uuid MyInvois document UUID (required)
   * @param documentStateChangeRequest  (required)
   * @return ApiResponse&lt;DocumentStateChangeResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentStateChangeResponse> rejectDocumentWithHttpInfo(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = rejectDocumentRequestBuilder(uuid, documentStateChangeRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("rejectDocument", localVarResponse);
        }
        return new ApiResponse<DocumentStateChangeResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocumentStateChangeResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder rejectDocumentRequestBuilder(UUID uuid, DocumentStateChangeRequest documentStateChangeRequest) throws ApiException {
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling rejectDocument");
    }
    // verify the required parameter 'documentStateChangeRequest' is set
    if (documentStateChangeRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'documentStateChangeRequest' when calling rejectDocument");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/{uuid}/reject"
        .replace("{uuid}", ApiClient.urlEncode(uuid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(documentStateChangeRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Search documents
   * Searches documents with various filter criteria. Results are paginated and support continuation tokens for large result sets. Rate limit: 60 RPM per clientId.  Note: This endpoint is for document lookup/reporting, not for monitoring submission status (use GET /v1/submissions/{trackingId} instead). 
   * @param sessionId Gateway session ID (required)
   * @param uuid Filter by document UUID (optional)
   * @param submissionUid Filter by submission UID (optional)
   * @param pageNo Page number (1-based, default 1) (optional, default to 1)
   * @param pageSize Page size (default 10, max 100) (optional, default to 10)
   * @param submissionDateFrom Filter by submission date from (ISO 8601) (optional)
   * @param submissionDateTo Filter by submission date to (ISO 8601) (optional)
   * @param continuationToken Continuation token for pagination (optional)
   * @param issueDateFrom Filter by issue date from (ISO 8601) (optional)
   * @param issueDateTo Filter by issue date to (ISO 8601) (optional)
   * @param direction Filter by direction (optional)
   * @param status Filter by document status (optional)
   * @param documentType Filter by document type code (optional)
   * @param receiverId Filter by receiver ID (optional)
   * @param receiverTin Filter by receiver TIN (optional)
   * @param issuerTin Filter by issuer TIN (optional)
   * @return SearchDocumentsResponse
   * @throws ApiException if fails to make API call
   */
  public SearchDocumentsResponse searchDocuments(String sessionId, UUID uuid, String submissionUid, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, String continuationToken, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    ApiResponse<SearchDocumentsResponse> localVarResponse = searchDocumentsWithHttpInfo(sessionId, uuid, submissionUid, pageNo, pageSize, submissionDateFrom, submissionDateTo, continuationToken, issueDateFrom, issueDateTo, direction, status, documentType, receiverId, receiverTin, issuerTin);
    return localVarResponse.getData();
  }

  /**
   * Search documents
   * Searches documents with various filter criteria. Results are paginated and support continuation tokens for large result sets. Rate limit: 60 RPM per clientId.  Note: This endpoint is for document lookup/reporting, not for monitoring submission status (use GET /v1/submissions/{trackingId} instead). 
   * @param sessionId Gateway session ID (required)
   * @param uuid Filter by document UUID (optional)
   * @param submissionUid Filter by submission UID (optional)
   * @param pageNo Page number (1-based, default 1) (optional, default to 1)
   * @param pageSize Page size (default 10, max 100) (optional, default to 10)
   * @param submissionDateFrom Filter by submission date from (ISO 8601) (optional)
   * @param submissionDateTo Filter by submission date to (ISO 8601) (optional)
   * @param continuationToken Continuation token for pagination (optional)
   * @param issueDateFrom Filter by issue date from (ISO 8601) (optional)
   * @param issueDateTo Filter by issue date to (ISO 8601) (optional)
   * @param direction Filter by direction (optional)
   * @param status Filter by document status (optional)
   * @param documentType Filter by document type code (optional)
   * @param receiverId Filter by receiver ID (optional)
   * @param receiverTin Filter by receiver TIN (optional)
   * @param issuerTin Filter by issuer TIN (optional)
   * @return ApiResponse&lt;SearchDocumentsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SearchDocumentsResponse> searchDocumentsWithHttpInfo(String sessionId, UUID uuid, String submissionUid, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, String continuationToken, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = searchDocumentsRequestBuilder(sessionId, uuid, submissionUid, pageNo, pageSize, submissionDateFrom, submissionDateTo, continuationToken, issueDateFrom, issueDateTo, direction, status, documentType, receiverId, receiverTin, issuerTin);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("searchDocuments", localVarResponse);
        }
        return new ApiResponse<SearchDocumentsResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SearchDocumentsResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder searchDocumentsRequestBuilder(String sessionId, UUID uuid, String submissionUid, Integer pageNo, Integer pageSize, OffsetDateTime submissionDateFrom, OffsetDateTime submissionDateTo, String continuationToken, OffsetDateTime issueDateFrom, OffsetDateTime issueDateTo, String direction, String status, String documentType, String receiverId, String receiverTin, String issuerTin) throws ApiException {
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling searchDocuments");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/documents/search";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "sessionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionId", sessionId));
    localVarQueryParameterBaseName = "uuid";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("uuid", uuid));
    localVarQueryParameterBaseName = "submissionUid";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("submissionUid", submissionUid));
    localVarQueryParameterBaseName = "pageNo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageNo", pageNo));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "submissionDateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("submissionDateFrom", submissionDateFrom));
    localVarQueryParameterBaseName = "submissionDateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("submissionDateTo", submissionDateTo));
    localVarQueryParameterBaseName = "continuationToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("continuationToken", continuationToken));
    localVarQueryParameterBaseName = "issueDateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issueDateFrom", issueDateFrom));
    localVarQueryParameterBaseName = "issueDateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issueDateTo", issueDateTo));
    localVarQueryParameterBaseName = "direction";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("direction", direction));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "documentType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("documentType", documentType));
    localVarQueryParameterBaseName = "receiverId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receiverId", receiverId));
    localVarQueryParameterBaseName = "receiverTin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receiverTin", receiverTin));
    localVarQueryParameterBaseName = "issuerTin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issuerTin", issuerTin));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
