/*
 * KLCubeLHDN MyInvois Middleware API
 * API middleware gateway for Malaysia's MyInvois e-invoicing system (LHDN).  **Version:** 1.1.1  ## Features - 4 Submission Endpoints (Consolidate, JustSave, Buyer, Personal) - JWT Authentication with Access & Refresh Tokens - User/Role/Company Management - Document Operations (List, Status, PDF, Cancel) - Digital Signing v1.1 (XAdES signatures) - Background Status Polling  ## Authentication All endpoints except `/api/v1/auth/login` require JWT authentication. Include the access token in the Authorization header: ``` Authorization: Bearer <access_token> ``` 
 *
 * The version of the OpenAPI document: 1.1.1
 * Contact: hello@zahidaramai.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.myinvois.sdk.api;

import com.myinvois.sdk.ApiClient;
import com.myinvois.sdk.ApiException;
import com.myinvois.sdk.ApiResponse;
import com.myinvois.sdk.Pair;

import com.myinvois.sdk.model.ErrorResponse;
import com.myinvois.sdk.model.InvoiceDetails;
import com.myinvois.sdk.model.SubmissionResponse;
import com.myinvois.sdk.model.SubmitBuyerRequest;
import com.myinvois.sdk.model.SubmitConsolidateRequest;
import com.myinvois.sdk.model.SubmitJustSaveRequest;
import com.myinvois.sdk.model.SubmitPersonalRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class KlCubeLhdnSubmissionApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public KlCubeLhdnSubmissionApi() {
    this(new ApiClient());
  }

  public KlCubeLhdnSubmissionApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get invoice by tracking ID
   * Retrieve invoice details including status, MyInvois UUID, and submission history
   * @param trackingId  (required)
   * @return InvoiceDetails
   * @throws ApiException if fails to make API call
   */
  public InvoiceDetails getInvoiceByTrackingId(String trackingId) throws ApiException {
    ApiResponse<InvoiceDetails> localVarResponse = getInvoiceByTrackingIdWithHttpInfo(trackingId);
    return localVarResponse.getData();
  }

  /**
   * Get invoice by tracking ID
   * Retrieve invoice details including status, MyInvois UUID, and submission history
   * @param trackingId  (required)
   * @return ApiResponse&lt;InvoiceDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<InvoiceDetails> getInvoiceByTrackingIdWithHttpInfo(String trackingId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getInvoiceByTrackingIdRequestBuilder(trackingId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getInvoiceByTrackingId", localVarResponse);
        }
        return new ApiResponse<InvoiceDetails>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<InvoiceDetails>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getInvoiceByTrackingIdRequestBuilder(String trackingId) throws ApiException {
    // verify the required parameter 'trackingId' is set
    if (trackingId == null) {
      throw new ApiException(400, "Missing the required parameter 'trackingId' when calling getInvoiceByTrackingId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/klcubelhdn/invoices/{trackingId}"
        .replace("{trackingId}", ApiClient.urlEncode(trackingId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Submit B2B invoice
   * Submit invoice with buyer TIN + BRN (Business Registration Number)
   * @param submitBuyerRequest  (required)
   * @return SubmissionResponse
   * @throws ApiException if fails to make API call
   */
  public SubmissionResponse submitBuyer(SubmitBuyerRequest submitBuyerRequest) throws ApiException {
    ApiResponse<SubmissionResponse> localVarResponse = submitBuyerWithHttpInfo(submitBuyerRequest);
    return localVarResponse.getData();
  }

  /**
   * Submit B2B invoice
   * Submit invoice with buyer TIN + BRN (Business Registration Number)
   * @param submitBuyerRequest  (required)
   * @return ApiResponse&lt;SubmissionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionResponse> submitBuyerWithHttpInfo(SubmitBuyerRequest submitBuyerRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitBuyerRequestBuilder(submitBuyerRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitBuyer", localVarResponse);
        }
        return new ApiResponse<SubmissionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitBuyerRequestBuilder(SubmitBuyerRequest submitBuyerRequest) throws ApiException {
    // verify the required parameter 'submitBuyerRequest' is set
    if (submitBuyerRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'submitBuyerRequest' when calling submitBuyer");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/klcubelhdn/submit-buyer";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submitBuyerRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Submit consolidated invoice
   * Combine multiple invoices into one e-invoice submission. Supports v1.0 (unsigned) and v1.1 (digitally signed) documents. 
   * @param submitConsolidateRequest  (required)
   * @return SubmissionResponse
   * @throws ApiException if fails to make API call
   */
  public SubmissionResponse submitConsolidate(SubmitConsolidateRequest submitConsolidateRequest) throws ApiException {
    ApiResponse<SubmissionResponse> localVarResponse = submitConsolidateWithHttpInfo(submitConsolidateRequest);
    return localVarResponse.getData();
  }

  /**
   * Submit consolidated invoice
   * Combine multiple invoices into one e-invoice submission. Supports v1.0 (unsigned) and v1.1 (digitally signed) documents. 
   * @param submitConsolidateRequest  (required)
   * @return ApiResponse&lt;SubmissionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionResponse> submitConsolidateWithHttpInfo(SubmitConsolidateRequest submitConsolidateRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitConsolidateRequestBuilder(submitConsolidateRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitConsolidate", localVarResponse);
        }
        return new ApiResponse<SubmissionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitConsolidateRequestBuilder(SubmitConsolidateRequest submitConsolidateRequest) throws ApiException {
    // verify the required parameter 'submitConsolidateRequest' is set
    if (submitConsolidateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'submitConsolidateRequest' when calling submitConsolidate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/klcubelhdn/submit-consolidate";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submitConsolidateRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Save invoice locally
   * Save invoice to database without submitting to LHDN
   * @param submitJustSaveRequest  (required)
   * @return SubmissionResponse
   * @throws ApiException if fails to make API call
   */
  public SubmissionResponse submitJustSave(SubmitJustSaveRequest submitJustSaveRequest) throws ApiException {
    ApiResponse<SubmissionResponse> localVarResponse = submitJustSaveWithHttpInfo(submitJustSaveRequest);
    return localVarResponse.getData();
  }

  /**
   * Save invoice locally
   * Save invoice to database without submitting to LHDN
   * @param submitJustSaveRequest  (required)
   * @return ApiResponse&lt;SubmissionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionResponse> submitJustSaveWithHttpInfo(SubmitJustSaveRequest submitJustSaveRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitJustSaveRequestBuilder(submitJustSaveRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitJustSave", localVarResponse);
        }
        return new ApiResponse<SubmissionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitJustSaveRequestBuilder(SubmitJustSaveRequest submitJustSaveRequest) throws ApiException {
    // verify the required parameter 'submitJustSaveRequest' is set
    if (submitJustSaveRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'submitJustSaveRequest' when calling submitJustSave");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/klcubelhdn/submit-justsave";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submitJustSaveRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Submit B2C invoice
   * Submit invoice with buyer NRIC (personal identification)
   * @param submitPersonalRequest  (required)
   * @return SubmissionResponse
   * @throws ApiException if fails to make API call
   */
  public SubmissionResponse submitPersonal(SubmitPersonalRequest submitPersonalRequest) throws ApiException {
    ApiResponse<SubmissionResponse> localVarResponse = submitPersonalWithHttpInfo(submitPersonalRequest);
    return localVarResponse.getData();
  }

  /**
   * Submit B2C invoice
   * Submit invoice with buyer NRIC (personal identification)
   * @param submitPersonalRequest  (required)
   * @return ApiResponse&lt;SubmissionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionResponse> submitPersonalWithHttpInfo(SubmitPersonalRequest submitPersonalRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitPersonalRequestBuilder(submitPersonalRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitPersonal", localVarResponse);
        }
        return new ApiResponse<SubmissionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitPersonalRequestBuilder(SubmitPersonalRequest submitPersonalRequest) throws ApiException {
    // verify the required parameter 'submitPersonalRequest' is set
    if (submitPersonalRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'submitPersonalRequest' when calling submitPersonal");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/klcubelhdn/submit-personal";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submitPersonalRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
