/*
 * MyInvois Middleware Gateway
 * Open-source middleware gateway for Malaysia's MyInvois e-invoicing system. Provides a simplified REST API layer between applications and the official LHDN MyInvois API.  **Note**: This is an unofficial community project. See DISCLAIMER.md. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.myinvois.sdk.api;

import com.myinvois.sdk.ApiClient;
import com.myinvois.sdk.ApiException;
import com.myinvois.sdk.ApiResponse;
import com.myinvois.sdk.Pair;

import com.myinvois.sdk.model.ErrorEnvelope;
import com.myinvois.sdk.model.SubmissionCreateRequest;
import com.myinvois.sdk.model.SubmissionResult;
import com.myinvois.sdk.model.SubmissionStatus;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class SubmissionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SubmissionsApi() {
    this(new ApiClient());
  }

  public SubmissionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Submit documents
   * Submits documents to MyInvois and returns a tracking ID. Constraints: max 100 documents, max 5MB total, max 300KB per document. 
   * @param submissionCreateRequest  (required)
   * @return SubmissionResult
   * @throws ApiException if fails to make API call
   */
  public SubmissionResult createSubmission(SubmissionCreateRequest submissionCreateRequest) throws ApiException {
    ApiResponse<SubmissionResult> localVarResponse = createSubmissionWithHttpInfo(submissionCreateRequest);
    return localVarResponse.getData();
  }

  /**
   * Submit documents
   * Submits documents to MyInvois and returns a tracking ID. Constraints: max 100 documents, max 5MB total, max 300KB per document. 
   * @param submissionCreateRequest  (required)
   * @return ApiResponse&lt;SubmissionResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionResult> createSubmissionWithHttpInfo(SubmissionCreateRequest submissionCreateRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createSubmissionRequestBuilder(submissionCreateRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createSubmission", localVarResponse);
        }
        return new ApiResponse<SubmissionResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionResult>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createSubmissionRequestBuilder(SubmissionCreateRequest submissionCreateRequest) throws ApiException {
    // verify the required parameter 'submissionCreateRequest' is set
    if (submissionCreateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'submissionCreateRequest' when calling createSubmission");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/submissions";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submissionCreateRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get submission status
   * Returns current submission status and document details
   * @param trackingId Gateway tracking ID for submission (required)
   * @return SubmissionStatus
   * @throws ApiException if fails to make API call
   */
  public SubmissionStatus getSubmission(String trackingId) throws ApiException {
    ApiResponse<SubmissionStatus> localVarResponse = getSubmissionWithHttpInfo(trackingId);
    return localVarResponse.getData();
  }

  /**
   * Get submission status
   * Returns current submission status and document details
   * @param trackingId Gateway tracking ID for submission (required)
   * @return ApiResponse&lt;SubmissionStatus&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionStatus> getSubmissionWithHttpInfo(String trackingId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSubmissionRequestBuilder(trackingId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSubmission", localVarResponse);
        }
        return new ApiResponse<SubmissionStatus>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionStatus>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSubmissionRequestBuilder(String trackingId) throws ApiException {
    // verify the required parameter 'trackingId' is set
    if (trackingId == null) {
      throw new ApiException(400, "Missing the required parameter 'trackingId' when calling getSubmission");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/submissions/{trackingId}"
        .replace("{trackingId}", ApiClient.urlEncode(trackingId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Trigger immediate poll
   * Triggers an immediate poll of submission status from MyInvois. Returns 409 if polling too frequently (minimum 3s interval). 
   * @param trackingId Gateway tracking ID for submission (required)
   * @return SubmissionStatus
   * @throws ApiException if fails to make API call
   */
  public SubmissionStatus pollSubmission(String trackingId) throws ApiException {
    ApiResponse<SubmissionStatus> localVarResponse = pollSubmissionWithHttpInfo(trackingId);
    return localVarResponse.getData();
  }

  /**
   * Trigger immediate poll
   * Triggers an immediate poll of submission status from MyInvois. Returns 409 if polling too frequently (minimum 3s interval). 
   * @param trackingId Gateway tracking ID for submission (required)
   * @return ApiResponse&lt;SubmissionStatus&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubmissionStatus> pollSubmissionWithHttpInfo(String trackingId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = pollSubmissionRequestBuilder(trackingId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("pollSubmission", localVarResponse);
        }
        return new ApiResponse<SubmissionStatus>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubmissionStatus>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder pollSubmissionRequestBuilder(String trackingId) throws ApiException {
    // verify the required parameter 'trackingId' is set
    if (trackingId == null) {
      throw new ApiException(400, "Missing the required parameter 'trackingId' when calling pollSubmission");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/submissions/{trackingId}/poll"
        .replace("{trackingId}", ApiClient.urlEncode(trackingId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
