/*
 * MyInvois Middleware Gateway
 * Open-source middleware gateway for Malaysia's MyInvois e-invoicing system. Provides a simplified REST API layer between applications and the official LHDN MyInvois API.  **Note**: This is an unofficial community project. See DISCLAIMER.md. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.myinvois.sdk.api;

import com.myinvois.sdk.ApiClient;
import com.myinvois.sdk.ApiException;
import com.myinvois.sdk.ApiResponse;
import com.myinvois.sdk.Pair;

import com.myinvois.sdk.model.ErrorEnvelope;
import com.myinvois.sdk.model.TinValidationResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class TaxpayerApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TaxpayerApi() {
    this(new ApiClient());
  }

  public TaxpayerApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Validate taxpayer TIN
   * Validates a taxpayer&#39;s TIN against MyInvois. Results are cached to reduce API calls. 
   * @param sessionId Gateway session ID (required)
   * @param tin Tax Identification Number (required)
   * @param idType ID type for validation (required)
   * @param idValue ID value corresponding to idType (required)
   * @return TinValidationResponse
   * @throws ApiException if fails to make API call
   */
  public TinValidationResponse validateTin(String sessionId, String tin, String idType, String idValue) throws ApiException {
    ApiResponse<TinValidationResponse> localVarResponse = validateTinWithHttpInfo(sessionId, tin, idType, idValue);
    return localVarResponse.getData();
  }

  /**
   * Validate taxpayer TIN
   * Validates a taxpayer&#39;s TIN against MyInvois. Results are cached to reduce API calls. 
   * @param sessionId Gateway session ID (required)
   * @param tin Tax Identification Number (required)
   * @param idType ID type for validation (required)
   * @param idValue ID value corresponding to idType (required)
   * @return ApiResponse&lt;TinValidationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TinValidationResponse> validateTinWithHttpInfo(String sessionId, String tin, String idType, String idValue) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateTinRequestBuilder(sessionId, tin, idType, idValue);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateTin", localVarResponse);
        }
        return new ApiResponse<TinValidationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TinValidationResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateTinRequestBuilder(String sessionId, String tin, String idType, String idValue) throws ApiException {
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling validateTin");
    }
    // verify the required parameter 'tin' is set
    if (tin == null) {
      throw new ApiException(400, "Missing the required parameter 'tin' when calling validateTin");
    }
    // verify the required parameter 'idType' is set
    if (idType == null) {
      throw new ApiException(400, "Missing the required parameter 'idType' when calling validateTin");
    }
    // verify the required parameter 'idValue' is set
    if (idValue == null) {
      throw new ApiException(400, "Missing the required parameter 'idValue' when calling validateTin");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/tin/validate";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "sessionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionId", sessionId));
    localVarQueryParameterBaseName = "tin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tin", tin));
    localVarQueryParameterBaseName = "idType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("idType", idType));
    localVarQueryParameterBaseName = "idValue";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("idValue", idValue));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
