/*
 * KLCubeLHDN MyInvois Middleware API
 *
 * API middleware gateway for Malaysia's MyInvois e-invoicing system (LHDN).  **Version:** 1.1.1  ## Features - 4 Submission Endpoints (Consolidate, JustSave, Buyer, Personal) - JWT Authentication with Access & Refresh Tokens - User/Role/Company Management - Document Operations (List, Status, PDF, Cancel) - Digital Signing v1.1 (XAdES signatures) - Background Status Polling  ## Authentication All endpoints except `/api/v1/auth/login` require JWT authentication. Include the access token in the Authorization header: ``` Authorization: Bearer <access_token> ``` 
 *
 * The version of the OpenAPI document: 1.1.1
 * Contact: hello@zahidaramai.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Mime;
using MyInvois.Sdk.Client;
using MyInvois.Sdk.Model;

namespace MyInvois.Sdk.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDocumentsApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Cancel document
        /// </summary>
        /// <remarks>
        /// Cancel a submitted document (within 72 hours)
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>CancelDocument200Response</returns>
        CancelDocument200Response CancelDocument(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0);

        /// <summary>
        /// Cancel document
        /// </summary>
        /// <remarks>
        /// Cancel a submitted document (within 72 hours)
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of CancelDocument200Response</returns>
        ApiResponse<CancelDocument200Response> CancelDocumentWithHttpInfo(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0);
        /// <summary>
        /// Download document PDF
        /// </summary>
        /// <remarks>
        /// Download the PDF representation of a validated document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentPdfResponse</returns>
        DocumentPdfResponse GetDocumentPdf(Guid uuid, int operationIndex = 0);

        /// <summary>
        /// Download document PDF
        /// </summary>
        /// <remarks>
        /// Download the PDF representation of a validated document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentPdfResponse</returns>
        ApiResponse<DocumentPdfResponse> GetDocumentPdfWithHttpInfo(Guid uuid, int operationIndex = 0);
        /// <summary>
        /// Get document status
        /// </summary>
        /// <remarks>
        /// Get the current validation status of a submitted document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentStatusResponse</returns>
        DocumentStatusResponse GetDocumentStatus(Guid uuid, int operationIndex = 0);

        /// <summary>
        /// Get document status
        /// </summary>
        /// <remarks>
        /// Get the current validation status of a submitted document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentStatusResponse</returns>
        ApiResponse<DocumentStatusResponse> GetDocumentStatusWithHttpInfo(Guid uuid, int operationIndex = 0);
        /// <summary>
        /// List documents
        /// </summary>
        /// <remarks>
        /// List documents with optional filters
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentListResponse</returns>
        DocumentListResponse ListDocuments(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0);

        /// <summary>
        /// List documents
        /// </summary>
        /// <remarks>
        /// List documents with optional filters
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentListResponse</returns>
        ApiResponse<DocumentListResponse> ListDocumentsWithHttpInfo(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDocumentsApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Cancel document
        /// </summary>
        /// <remarks>
        /// Cancel a submitted document (within 72 hours)
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of CancelDocument200Response</returns>
        System.Threading.Tasks.Task<CancelDocument200Response> CancelDocumentAsync(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));

        /// <summary>
        /// Cancel document
        /// </summary>
        /// <remarks>
        /// Cancel a submitted document (within 72 hours)
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (CancelDocument200Response)</returns>
        System.Threading.Tasks.Task<ApiResponse<CancelDocument200Response>> CancelDocumentWithHttpInfoAsync(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));
        /// <summary>
        /// Download document PDF
        /// </summary>
        /// <remarks>
        /// Download the PDF representation of a validated document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentPdfResponse</returns>
        System.Threading.Tasks.Task<DocumentPdfResponse> GetDocumentPdfAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));

        /// <summary>
        /// Download document PDF
        /// </summary>
        /// <remarks>
        /// Download the PDF representation of a validated document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentPdfResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<DocumentPdfResponse>> GetDocumentPdfWithHttpInfoAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));
        /// <summary>
        /// Get document status
        /// </summary>
        /// <remarks>
        /// Get the current validation status of a submitted document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentStatusResponse</returns>
        System.Threading.Tasks.Task<DocumentStatusResponse> GetDocumentStatusAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));

        /// <summary>
        /// Get document status
        /// </summary>
        /// <remarks>
        /// Get the current validation status of a submitted document from MyInvois
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentStatusResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<DocumentStatusResponse>> GetDocumentStatusWithHttpInfoAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));
        /// <summary>
        /// List documents
        /// </summary>
        /// <remarks>
        /// List documents with optional filters
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentListResponse</returns>
        System.Threading.Tasks.Task<DocumentListResponse> ListDocumentsAsync(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));

        /// <summary>
        /// List documents
        /// </summary>
        /// <remarks>
        /// List documents with optional filters
        /// </remarks>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentListResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<DocumentListResponse>> ListDocumentsWithHttpInfoAsync(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDocumentsApi : IDocumentsApiSync, IDocumentsApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class DocumentsApi : IDocumentsApi
    {
        private MyInvois.Sdk.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="DocumentsApi"/> class.
        /// </summary>
        /// <returns></returns>
        public DocumentsApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DocumentsApi"/> class.
        /// </summary>
        /// <returns></returns>
        public DocumentsApi(string basePath)
        {
            this.Configuration = MyInvois.Sdk.Client.Configuration.MergeConfigurations(
                MyInvois.Sdk.Client.GlobalConfiguration.Instance,
                new MyInvois.Sdk.Client.Configuration { BasePath = basePath }
            );
            this.Client = new MyInvois.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.AsynchronousClient = new MyInvois.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.ExceptionFactory = MyInvois.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DocumentsApi"/> class
        /// using Configuration object
        /// </summary>
        /// <param name="configuration">An instance of Configuration</param>
        /// <returns></returns>
        public DocumentsApi(MyInvois.Sdk.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = MyInvois.Sdk.Client.Configuration.MergeConfigurations(
                MyInvois.Sdk.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.Client = new MyInvois.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.AsynchronousClient = new MyInvois.Sdk.Client.ApiClient(this.Configuration.BasePath);
            ExceptionFactory = MyInvois.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DocumentsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public DocumentsApi(MyInvois.Sdk.Client.ISynchronousClient client, MyInvois.Sdk.Client.IAsynchronousClient asyncClient, MyInvois.Sdk.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = MyInvois.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public MyInvois.Sdk.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public MyInvois.Sdk.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public MyInvois.Sdk.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public MyInvois.Sdk.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Cancel document Cancel a submitted document (within 72 hours)
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>CancelDocument200Response</returns>
        public CancelDocument200Response CancelDocument(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0)
        {
            MyInvois.Sdk.Client.ApiResponse<CancelDocument200Response> localVarResponse = CancelDocumentWithHttpInfo(uuid, cancelDocumentRequest);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Cancel document Cancel a submitted document (within 72 hours)
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of CancelDocument200Response</returns>
        public MyInvois.Sdk.Client.ApiResponse<CancelDocument200Response> CancelDocumentWithHttpInfo(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0)
        {
            // verify the required parameter 'cancelDocumentRequest' is set
            if (cancelDocumentRequest == null)
            {
                throw new MyInvois.Sdk.Client.ApiException(400, "Missing required parameter 'cancelDocumentRequest' when calling DocumentsApi->CancelDocument");
            }

            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter
            localVarRequestOptions.Data = cancelDocumentRequest;

            localVarRequestOptions.Operation = "DocumentsApi.CancelDocument";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<CancelDocument200Response>("/api/v1/documents/{uuid}/cancel", localVarRequestOptions, this.Configuration);
            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("CancelDocument", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Cancel document Cancel a submitted document (within 72 hours)
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of CancelDocument200Response</returns>
        public async System.Threading.Tasks.Task<CancelDocument200Response> CancelDocumentAsync(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            MyInvois.Sdk.Client.ApiResponse<CancelDocument200Response> localVarResponse = await CancelDocumentWithHttpInfoAsync(uuid, cancelDocumentRequest, operationIndex, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Cancel document Cancel a submitted document (within 72 hours)
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="cancelDocumentRequest"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (CancelDocument200Response)</returns>
        public async System.Threading.Tasks.Task<MyInvois.Sdk.Client.ApiResponse<CancelDocument200Response>> CancelDocumentWithHttpInfoAsync(Guid uuid, CancelDocumentRequest cancelDocumentRequest, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            // verify the required parameter 'cancelDocumentRequest' is set
            if (cancelDocumentRequest == null)
            {
                throw new MyInvois.Sdk.Client.ApiException(400, "Missing required parameter 'cancelDocumentRequest' when calling DocumentsApi->CancelDocument");
            }


            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter
            localVarRequestOptions.Data = cancelDocumentRequest;

            localVarRequestOptions.Operation = "DocumentsApi.CancelDocument";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = await this.AsynchronousClient.PostAsync<CancelDocument200Response>("/api/v1/documents/{uuid}/cancel", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("CancelDocument", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download document PDF Download the PDF representation of a validated document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentPdfResponse</returns>
        public DocumentPdfResponse GetDocumentPdf(Guid uuid, int operationIndex = 0)
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentPdfResponse> localVarResponse = GetDocumentPdfWithHttpInfo(uuid);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download document PDF Download the PDF representation of a validated document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentPdfResponse</returns>
        public MyInvois.Sdk.Client.ApiResponse<DocumentPdfResponse> GetDocumentPdfWithHttpInfo(Guid uuid, int operationIndex = 0)
        {
            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter

            localVarRequestOptions.Operation = "DocumentsApi.GetDocumentPdf";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<DocumentPdfResponse>("/api/v1/documents/{uuid}/pdf", localVarRequestOptions, this.Configuration);
            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetDocumentPdf", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download document PDF Download the PDF representation of a validated document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentPdfResponse</returns>
        public async System.Threading.Tasks.Task<DocumentPdfResponse> GetDocumentPdfAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentPdfResponse> localVarResponse = await GetDocumentPdfWithHttpInfoAsync(uuid, operationIndex, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download document PDF Download the PDF representation of a validated document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentPdfResponse)</returns>
        public async System.Threading.Tasks.Task<MyInvois.Sdk.Client.ApiResponse<DocumentPdfResponse>> GetDocumentPdfWithHttpInfoAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {

            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter

            localVarRequestOptions.Operation = "DocumentsApi.GetDocumentPdf";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = await this.AsynchronousClient.GetAsync<DocumentPdfResponse>("/api/v1/documents/{uuid}/pdf", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetDocumentPdf", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get document status Get the current validation status of a submitted document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentStatusResponse</returns>
        public DocumentStatusResponse GetDocumentStatus(Guid uuid, int operationIndex = 0)
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentStatusResponse> localVarResponse = GetDocumentStatusWithHttpInfo(uuid);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get document status Get the current validation status of a submitted document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentStatusResponse</returns>
        public MyInvois.Sdk.Client.ApiResponse<DocumentStatusResponse> GetDocumentStatusWithHttpInfo(Guid uuid, int operationIndex = 0)
        {
            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter

            localVarRequestOptions.Operation = "DocumentsApi.GetDocumentStatus";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<DocumentStatusResponse>("/api/v1/documents/{uuid}/status", localVarRequestOptions, this.Configuration);
            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetDocumentStatus", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get document status Get the current validation status of a submitted document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentStatusResponse</returns>
        public async System.Threading.Tasks.Task<DocumentStatusResponse> GetDocumentStatusAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentStatusResponse> localVarResponse = await GetDocumentStatusWithHttpInfoAsync(uuid, operationIndex, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get document status Get the current validation status of a submitted document from MyInvois
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="uuid"></param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentStatusResponse)</returns>
        public async System.Threading.Tasks.Task<MyInvois.Sdk.Client.ApiResponse<DocumentStatusResponse>> GetDocumentStatusWithHttpInfoAsync(Guid uuid, int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {

            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            localVarRequestOptions.PathParameters.Add("uuid", MyInvois.Sdk.Client.ClientUtils.ParameterToString(uuid)); // path parameter

            localVarRequestOptions.Operation = "DocumentsApi.GetDocumentStatus";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = await this.AsynchronousClient.GetAsync<DocumentStatusResponse>("/api/v1/documents/{uuid}/status", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetDocumentStatus", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// List documents List documents with optional filters
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DocumentListResponse</returns>
        public DocumentListResponse ListDocuments(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0)
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentListResponse> localVarResponse = ListDocumentsWithHttpInfo(companyId, status, invoiceType, fromDate, toDate, page, limit);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List documents List documents with optional filters
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DocumentListResponse</returns>
        public MyInvois.Sdk.Client.ApiResponse<DocumentListResponse> ListDocumentsWithHttpInfo(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0)
        {
            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            if (companyId != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "companyId", companyId));
            }
            if (status != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "status", status));
            }
            if (invoiceType != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "invoiceType", invoiceType));
            }
            if (fromDate != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "fromDate", fromDate));
            }
            if (toDate != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "toDate", toDate));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (limit != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "limit", limit));
            }

            localVarRequestOptions.Operation = "DocumentsApi.ListDocuments";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<DocumentListResponse>("/api/v1/documents", localVarRequestOptions, this.Configuration);
            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListDocuments", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// List documents List documents with optional filters
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DocumentListResponse</returns>
        public async System.Threading.Tasks.Task<DocumentListResponse> ListDocumentsAsync(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            MyInvois.Sdk.Client.ApiResponse<DocumentListResponse> localVarResponse = await ListDocumentsWithHttpInfoAsync(companyId, status, invoiceType, fromDate, toDate, page, limit, operationIndex, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List documents List documents with optional filters
        /// </summary>
        /// <exception cref="MyInvois.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="invoiceType"> (optional)</param>
        /// <param name="fromDate"> (optional)</param>
        /// <param name="toDate"> (optional)</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="limit"> (optional, default to 20)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DocumentListResponse)</returns>
        public async System.Threading.Tasks.Task<MyInvois.Sdk.Client.ApiResponse<DocumentListResponse>> ListDocumentsWithHttpInfoAsync(string? companyId = default(string?), string? status = default(string?), string? invoiceType = default(string?), DateOnly? fromDate = default(DateOnly?), DateOnly? toDate = default(DateOnly?), int? page = default(int?), int? limit = default(int?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {

            MyInvois.Sdk.Client.RequestOptions localVarRequestOptions = new MyInvois.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = MyInvois.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = MyInvois.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            if (companyId != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "companyId", companyId));
            }
            if (status != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "status", status));
            }
            if (invoiceType != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "invoiceType", invoiceType));
            }
            if (fromDate != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "fromDate", fromDate));
            }
            if (toDate != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "toDate", toDate));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (limit != null)
            {
                localVarRequestOptions.QueryParameters.Add(MyInvois.Sdk.Client.ClientUtils.ParameterToMultiMap("", "limit", limit));
            }

            localVarRequestOptions.Operation = "DocumentsApi.ListDocuments";
            localVarRequestOptions.OperationIndex = operationIndex;

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = await this.AsynchronousClient.GetAsync<DocumentListResponse>("/api/v1/documents", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListDocuments", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

    }
}
