# P12 Certificate Download from S3
# ================================
# This configuration downloads the P12 signing certificate from S3.
# Prerequisites:
#   1. Upload certificate to S3: s3://YOUR_BUCKET/klcubelhdn/signing.p12
#   2. Replace BUCKET_NAME below with your actual bucket name
#   3. Ensure EC2 instance role has S3 read permissions
#
# To grant permissions, attach this IAM policy to the EB instance role:
# {
#   "Version": "2012-10-17",
#   "Statement": [{
#     "Effect": "Allow",
#     "Action": ["s3:GetObject"],
#     "Resource": "arn:aws:s3:::BUCKET_NAME/klcubelhdn/*"
#   }]
# }

# Uncomment and configure the following after S3 bucket is created:
#
# files:
#   "/var/app/staging/certs/signing.p12":
#     mode: "000400"
#     owner: webapp
#     group: webapp
#     source: https://BUCKET_NAME.s3.ap-southeast-1.amazonaws.com/klcubelhdn/signing.p12
#     authentication: S3Access
#
# Resources:
#   AWSEBAutoScalingGroup:
#     Metadata:
#       AWS::CloudFormation::Authentication:
#         S3Access:
#           type: s3
#           buckets:
#             - BUCKET_NAME
#           roleName:
#             Ref: AWSEBInstanceRole
